.dataTables_wrapper,table{
  margin-top:20px;
}
.box-table{
  width:100%;
  overflow-x: auto;
  display: block;
}
.box-table table{
  width: auto;
  min-width: 100%;
}
.box-table table tbody>tr>td:not(:first-child){
    min-width: 150px;
}
.textubah{
  display: contents;
}
.mmarketingdipilih{
  background-color: #3c8dbc;
  color:white;
}

.tabelhakakses tr td:not(:first-child),.tabelhakakses tr th:not(:first-child) {
  text-align: center;
  padding:0;
}
.tabelhakakses tr td:not(:first-child) input[type=checkbox] {
  width:30px;
  height:30px;
  cursor:pointer;
}
.modal .dataTables_wrapper{
  margin: 0px;
}
#tabeltemplate tbody>tr, .tableapproval tbody>tr, .modal .dataTables_wrapper tbody>tr, #unitnup tbody>tr:hover{
  cursor:pointer;
}
#tabeltemplate tbody>tr:hover, .tableapproval tbody>tr:hover, .modal .dataTables_wrapper tbody>tr:hover, #unitnup tbody>tr:hover{
  background-color: #3c8dbc;
  color:white;
}
.modal .dataTables_wrapper .col-sm-12{
  overflow-x: auto;
}
#tabelsimulasicicilan tbody>tr>td:not(:first-child), #tabelsimulasicicilan td input{
  text-align: right;
}
.wysihtml5-editor.placeholder{
  color:black!important;
}
.wysihtml5-sandbox {
    height: 500px!important;
}
.wysiwyg-text-align-center{
  text-align: center;
}
.wysiwyg-text-align-left{
  text-align: left;
}
.wysiwyg-text-align-right{
  text-align: right;
}
div#modalpilihShortcode a {
    width: 100%;
    text-align: left;
}
body.wysihtml5-editor {
    padding: 50px 100px;
}
body.wysihtml5-editor ol{
  padding-left: 15px;
}
.previewimageimageFile.img-responsive:hover {
    border: 1px solid #e4e2e2;
    opacity: 0.3;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4{
  margin-left:16px;
}
